/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Signika+Negative:wght@300..700&display=swap');

/* Variables */

:root {
    --font-heading: "Merriweather Sans", sans-serif;
    --font-subtitle: "Signika Negative", sans-serif;
    --font-body: "ABeeZee", sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    font-size: 16px;
    --text--small: clamp(0.6944rem, 0.6513rem + 0.1919vw, 0.8rem);
    --text--captions: clamp(0.8333rem, 0.7652rem + 0.303vw, 1rem);
    --text-paragraph: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
    --text-h4: clamp(1.2rem, 1.0517rem + 0.6591vw, 1.5625rem);
    --text-h3: clamp(1.44rem, 1.2301rem + 0.933vw, 1.9531rem);
    --text-h2: clamp(1.728rem, 1.4362rem + 1.2971vw, 2.4414rem);
    --text-h1: clamp(2.0736rem, 1.6734rem + 1.7785vw, 3.0518rem);

    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-6: 24px;
    --spacing-8: 32px;
}

/* Media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 576px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {}

/* Main */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem 1rem;
    min-height: 56px;
}

.header__logo img {
    height: 48px;
}

.header__nav {
    width: 100%;
}

.header__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    list-style: none;
    width: 100%;
    background-color: black;
}

.header__nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: var(--font-body);
    font-size: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: var(--font-body);
}

.banner {
    min-height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-body);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}